<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>


        <title>정글 푸드 피드 - 회원가입</title>

        <!-- style -->
        <style type="text/css">
            
        /* desktop 규격 */
        @media screen and (min-width: 1024px) {

        }

        /* tablet 규격 */
        @media screen and (max-width: 1023px) {

        }

        /* mobile 규격 */
        @media screen and (max-width: 540px) {

        }

        /* 가로모드 규격*/
        @media screen and (orientation: landscape){

        }

        </style>
        

    </head>

    <body>
        
    </body>

</html>
